#wrap{
    width: 100%;
}

/* 상단영역 */

#header {
    width: 100%;
    height: 80px;
    background-color: rgb(255, 254, 242);
    border-bottom: 1px solid #ccc;

}


#header_in {
    width: 100%;
    height: 80px;
}

#header_in .group {
    width: 100%;
    height: 80px;

}

#header_in .info_mn {
    float: right;
    width: 300px;
    height: 80px;

}

#header_in .info_mn ul {
    line-height: 80px;
    float: right;
}

#header_in .info_mn li {
    float: left;
    padding-right: 17px;


}

#header_in .info_mn a {
    font-size: 15px;
    color: rgb(0, 0, 0);
}

#header_in .nav {
    width: 1000px;
    height: 100px;
    padding-left: 45px;

}

#header_in .nav ul {
    line-height: 80px;

}

#header_in .nav li {
    float: left;
    padding-right: 30px;
}

#header_in .nav a {
    font-size: 15px;
    color: rgb(0, 0, 0);
}

#header_in .nav img {
    width: 25px;
}


/* 로고 */

#contents {
    width: 100%;
    height: 887px;
    background-color: rgb(222, 216, 212);
    display: flex;
    justify-content: space-between;

}

#contents .logo {
    width: 160px;
    height: 75px;
    margin-left: 40px;
    margin-top: 70px;
    margin-right: 80px;
    cursor: pointer;
}


/* menu1 */

#category{
    width: 215px;
    height: 270px;
    margin-top: 90px;

}
#category p{
    font-size: 18px;
    padding-bottom: 10px;
}
#category .menu1 {}
#category .menu1 li{
    line-height: 35px;
}
#category .menu1 li a{
    font-size: 18px;
}




/* menu2 */

#Selection{
    width: 215px;
    height: 270px;
    margin-top: 90px;
}
#Selection p {
    font-size: 18px;
    padding-bottom: 10px;
}

#Selection .menu2 {}

#Selection .menu2 li {
    line-height: 35px;
}

#Selection .menu2 li a {
    font-size: 18px;
}






#range {
    width: 215px;
    height: 270px;
    margin-top: 90px;
}


